//------------------------------------------------------------layout
.header {
	position: fixed;
	top: 0;
	left: 0;

	height: var(--height-header);
	width: 100%;

	font-size: 1rem;

	will-change: transform;

	@include z-index(header);
	background: #e9ecef;
}


.header__in {
	@extend %global_flex_block_row_wrap_flex-start_center;
	height: 100%;
}

.header__logo {
	display: block;
}

.logo {
	height: 8rem;
	width: 8rem;
	height: 5rem;
}

.logo__img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: contain;
}
//------------------------------------------------------------layout###

.header__menu_w {
	margin-left: auto;
	height: 100%;
	@extend %global_flex_block_row_wrap_flex-start_center;
}

.menu {
	@extend %global_flex_block_row_wrap_flex-start;
}

.menu__item + .menu__item{
	margin-left: 2rem;
}